html, body {
  height: 100%;
  margin: 0;
  background-color: #282c34;
}

input, button {
  font-size: 1.2rem;
}

.home {
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  margin-top: 10vh;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
  font-size: calc(75px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

.room-sections {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: auto;
  padding: 2rem;
  margin-top: 5vh;
}

.room-section {
  font-size: 3rem;
  outline: 1px solid red;
  background-color: #282c34;
  display: flex;
  flex: 1;
  margin: 0 1rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  color: white;
}

.room-section {
  font-size: 3rem;
  outline: 1px solid red;
  background-color: #282c34;
  display: flex;
  flex: 1;
  margin: 0 1rem;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  color: white;
}

.lobby {
  display: flex;
  flex-direction: column;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  outline: 1px solid red;
  width: 100%;
  max-height: 4dvh;
  color: white;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.volume {
  margin-left: auto;
  flex-wrap: nowrap;
}

.game-board {
  width: 75vw;
  height: 90vh;
  display: flex;
  outline: 1px solid red;
}

.chat-area {
  width: 25vw;
  height: 90vh;
  outline: 1px solid red;
}